<!DOCTYPE html>
<html>
<head>
	<title>Home</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../style/customStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preload" href="../img/taxi.jpg" as="image">

</head>
<body>
	<!-- <Navigation> -->
	<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><img src="../img/logo.png" class="logo_img"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link active" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Service</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				<li class="nav-item" style="margin: 2px;"><div data-toggle="modal" data-target="#login"><a href="#" class="nav-link">Login<i class="fa fa-sign-in"></i></a></li>

				<li class="nav-item" style="margin: 2px;"><div data-toggle="modal" data-target="#signUp"><a href="#" class="nav-link">Sign Up<i class="fa fa-hand-o-up" style="margin: 1px;"></i></a></li>
			</ul>
			</div>
		</div>
	</nav>


	<!-- <Login Model> -->
	<div class="modal fade" id="login">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Login</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form>
	        	<div class="input-group input-group-lg input-container">
    				<i class="fa fa-user icon fa-2x"></i>
   					<input class="form-control" type="text" placeholder="Username" name="username">
				</div>
	        	<div class="input-group input-group-lg input-container">
    				<i class="fa fa-envelope icon fa-2x"></i>
   					<input class="form-control" type="email" placeholder="E-mail" name="email">
				</div>
				<div class="input-group input-group-lg input-container">
    				<i class="fa fa-key icon fa-2x"></i>
   					<input class="form-control" type="password" placeholder="Password" name="password">
				</div>	        	
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary">Login</button>
	      </div>
	    </div>
	  </div>
	</div>


	<!-- <Sign Up Model> -->
	<div class="modal fade" id="signUp">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Sign Up</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form>
	        	<div class="input-group input-group-lg input-container">
   					<input class="form-control" type="text" placeholder="Name" name="name">
				</div>
	        	<div class="input-group input-group-lg input-container">
   					<input class="form-control" type="text" placeholder="Username" name="username">
				</div>
	        	<div class="input-group input-group-lg input-container">
   					<input class="form-control" type="email" placeholder="E-mail" name="email">
				</div>
				<div class="input-group input-group-lg input-container">
   					<input class="form-control" type="password" placeholder="Choose Password" name="password">
				</div>
				<div class="input-group input-group-lg input-container">
   					<input class="form-control" type="number" placeholder="Mobile Number" name="mobileNumber">
				</div>	        	
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary">Sign Up</button>
	      </div>
	    </div>
	  </div>
	</div>



	<!-- <Image Slider> -->
	<div class="main-slide">
		<div id="slides" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<!-- <h1 class="item active">
					Hire Verified Car Drivers for outstation, Starting at Just Rs 199
				</h1>
				<h1 class="item">
					Best Car Rentals in Bangalore, Delhi, Mumbai
				</h1>
				<h1 class="item">
					Hire Verified Car Drivers for outstation, Starting at Just Rs 19999
				</h1>
				<h1 class="item">
					Best Car Rentals in Bangalore, Delhi, Mumbai, Varanasi
				</h1> -->
			</div>
		</div>
	</div>
	<br><br>


    <!-- <Welcome Section> -->

    <div class="container-fluid padding">
    	<div class="row welcome text-center">
    		<div class="col-12">
    			<h1 class="display-4"> easy4drive </h1>
    		</div>
    		<hr>
    		<div class="col-12">
    			<p class="lead">
				Ezi Drive is the Pioneer & Leader in Driver Hire services and one of the leading providers of Cab Hire and Online Cab booking services in Bangalore and Chennai. EziDrive has a large pool of experienced, reliable (background verified) and professional car drivers for hire in Chennai and Bangalore having thorough knowledge of the city
				</p>
    		</div>
    	</div>
    </div>
    <br><br>

    <!-- <Why Choose Block> -->
    <div class="container-fluid padding">
    	<div class="row welcome text-center">
    		<div class="col-12">
    			<h1 class="display-4"> Why easy4drive ? </h1>
    		</div>
    		<br><br>
    		<hr>

    		<div class="col-xs-12 col-sm-6 col-md-4">
    			<i class="fa fa-inr fa-4x" aria-hidden="true"></i>
    			<h3>Affordable Rates</h3>
    			<p>Rent a car or book a driver for outstation or hourly service at Lowest cost</p>
    		</div>
    		<div class="col-xs-12 col-sm-6 col-md-4">
    			<i class="fa fa-users fa-4x" aria-hidden="true"></i>
    			<h3>Expertise & Premium</h3>
    			<p>We have Served to 80000+ Customers with 100000+ safe Rides</p>
    		</div>
    		<div class="col-xs-12 col-sm-6 col-md-4">
    			<i class="fa fa-shield fa-4x" aria-hidden="true"></i>
    			<h3>Reliable & Verified Partners</h3>
    			<p>Our car driver Partners are verified and trusted as all driver undergo Police Verification and are 3+ year experienced.</p>
    		</div>    		
    	</div>
    </div>

</body>
</html>