<!DOCTYPE html>
<html>
<head>
	<title>Visit</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/style/customStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-3.1.1.js"></script>
    <script src="../static/js/signUp.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preload" href="../static/img/taxi.jpg" as="image">


</head>

	<!-- <Navigation> -->
<header>
	<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><img src="../static/img/logo.png" class="logo_img"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link active" href="/home/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/about/">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/service/">Service</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/contact/">Contact</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				<li class="nav-item" style="margin: 2px;"><div data-toggle="modal" data-target="#login"><a href="#" class="nav-link">Login<i class="fa fa-sign-in"></i></a></li>

				<li class="nav-item" style="margin: 2px;"><div data-toggle="modal" data-target="#signUp"><a href="#" class="nav-link">Sign Up<i class="fa fa-hand-o-up" style="margin: 1px;"></i></a></li>
			</ul>
			</div>
		</div>
	</nav>
</header>
    <!-- <Navigation Ends Here> -->
<body>
    <div>
        {% block body %}{% endblock %}
    </div>
</body>


	<!-- <Login Model> -->
	<div class="modal fade" id="login">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Login</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form>
	        	<div class="input-group input-group-lg input-container">
    				<i class="fa fa-user icon fa-2x"></i>
   					<input class="form-control" type="text" placeholder="Username" name="login_username">
				</div>
	        	<div class="input-group input-group-lg input-container">
    				<i class="fa fa-envelope icon fa-2x"></i>
   					<input class="form-control" type="email" placeholder="E-mail" name="login_email">
				</div>
				<div class="input-group input-group-lg input-container">
    				<i class="fa fa-key icon fa-2x"></i>
   					<input class="form-control" type="password" placeholder="Password" name="login_password">
				</div>	        	
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary">Login</button>
	      </div>
	    </div>
	  </div>
	</div>
    <!-- <Login Model Ends Here> -->



	<!-- <Sign Up Model> -->
	<div class="modal fade" id="signUp">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Sign Up</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form>
	        	<div class="input-group input-group-lg input-container">
   					<input class="form-control" type="text" placeholder="Name" name="name">
				</div>
	        	<div class="input-group input-group-lg input-container">
   					<input class="form-control" type="text" placeholder="Username" name="username">
				</div>
	        	<div class="input-group input-group-lg input-container">
   					<input class="form-control" type="email" placeholder="E-mail" name="email">
				</div>
				<div class="input-group input-group-lg input-container">
   					<input class="form-control" type="password" placeholder="Choose Password" name="password">
				</div>
				<div class="input-group input-group-lg input-container">
   					<input class="form-control" type="number" placeholder="Mobile Number" name="mobileNumber">
				</div>	        	
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" id="btnSignUp" class="btn btn-primary">Sign Up</button>
	      </div>
	    </div>
	  </div>
	</div>
    <!-- <Sign UP Model Ends here> -->


    <!-- <Footer> -->
    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-4">
                    <hr class="light" style="margin-top: 30px">
                    <h5>Contact - Detail</h5>
                    <hr class="light">
                    <p>1800-547-456</p>
                    <p>hire4drive@gmail.com</p>
                    <p>100 M.G road</p>
                    <p>city,state,000000</p>
                </div>
                <div class="col-md-4">
                    <hr class="light" style="margin-top: 30px">
                    <h5>Working Hours</h5>
                    <hr class="light">
                    <p>Monday-Friday: 24hr</p>
                    <p> Saturday: 5am - 10pm</p>
                    <p>Sunday: Closed</p>
                </div>
                <div class="col-md-4">
                    <hr class="light" style="margin-top: 30px">
                    <h5>Service Area</h5>
                    <hr class="light">
                    <p>Bangalore</p>
                    <p>Delhi-NCR</p>
                    <p>Mumbai</p>
                    <p>Pune</p>
                </div>
                <div class="col-12">
                    <hr class="light-1">
                    <h5>&copy hire4drive.com</h5>                   
                </div>
            </div>
        </div>
    </footer>
    <!-- <Footer Section Ends Here> -->

</html>