{% extends "index.html" %}

{% block body %}
	<!-- <Image Slider> -->
    <div class="main-slide">
        <div class="row">
            
        </div>
    </div>
    <!-- <Image Slider Ends Here> -->



    <!-- <Welcome Section> -->
    <div class="container-fluid padding">
        <div class="row welcome text-center padding">
            <div class="col-12">
                <h1 class="display-4 green"> <strong>easy4drive </h1>
            </div>
            <hr>
            <div class="col-12">
                <p class="lead" style="margin-top: 20px">
                Ezi Drive is the Pioneer & Leader in Driver Hire services and one of the leading providers of Cab Hire and Online Cab booking services in Bangalore and Chennai. EziDrive has a large pool of experienced, reliable (background verified) and professional car drivers for hire in Chennai and Bangalore having thorough knowledge of the city
                </p>
            </div>
        </div>
    </div>
    <!-- <Welcome Section Ends Here> -->



    <!-- <Why Choose Block> -->
    <div class="container-fluid padding">
        <div class="row welcome text-center padding">
            <div class="col-12 padding">
                <h1 class="display-5"> Why <strong class="green">easy4drive ? </strong></h1>
            </div>
            <hr>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <i class="fa fa-inr fa-4x" aria-hidden="true"></i>
                <h3 class="green">Affordable Rates</h3>
                <p>Rent a car or book a driver for outstation or hourly service at <strong class="yellow">Lowest cost</strong></p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <i class="fa fa-users fa-4x" aria-hidden="true"></i>
                <h3 class="green">Expertise & Premium</h3>
                <p>We have Served to <strong class="yellow">80000+</strong> Customers with <strong class="yellow">100000+</strong> safe Rides</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <i class="fa fa-shield fa-4x" aria-hidden="true"></i>
                <h3 class="green">Reliable & Verified Partners</h3>
                <p>Our car driver Partners are verified and trusted as all driver undergo Police Verification and are <strong class="yellow">3+ year experienced.</strong></p>
            </div>          
        </div>
    </div>
    <!-- <Why Choose Block Ends Here> -->



    <!-- <How it Work Block> -->
    <div class="container-fluid padding">
        <div class="row welcome text-center padding">
            <div class="col-12">
                <h1 class="display-5"> How it <strong style="color: #11a597">Work ?</strong></h1>
                <p>Get booking in 3 easy step</p>
            </div>
            <br><br>
            <hr>
            <div class="container-fluid row road">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <figure><img src="../static/img/hire-driver.png" ></figure>
                    <p>
                        Choose Service to Hire a<br>
                        <strong class="yellow">Cab</strong>
                        or
                        <strong class="yellow">Driver</strong> 
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <figure><img src="../static/img/map.png"></figure>
                    <p>
                        Set your <strong class="yellow">location</strong>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <figure><img src="../static/img/trip.png" ></figure><br>
                    <p>
                        Enjoy your <strong class="yellow">Trip</strong>
                    </p>
                </div>                  
            </div>  
        </div>
    </div>
    <!-- <How it Work Block Ends Here> -->



    <!-- <Connect> -->
    <div class="container-fluid padding">
        <div class="row text-center padding">
            <div class="col-12">
                <h2>Connect</h2>
            </div>
            <div class="col-12 social padding">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <!-- <Connect Section Ends Here> -->

{% endblock %}